<script>

$(document).ready(function(){

  var map;
  var json = <%= Library.jsonify.html_safe %>;
// creates a new map with appropriate markers
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(38.4987789,-98.3200779),
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(mapCanvas, mapOptions);

// iterate through each library and add marker
    json.forEach(function(library){
      var myLatlng = new google.maps.LatLng(library.lat,library.long);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: library.name,
        id: library.id
      });
// markers need event listeners
      google.maps.event.addListener(marker, 'click', function() { 
        displayInfo(marker.id);
      }); 

    });
  }

// text needs event listener with similar functionality to marker event listener
  $('.library').on("click",function(){
    var index = $(this).attr('id');
    displayInfo(index);
  })

// updates info for library on DOM and triggers by marker click or name click
  function displayInfo(index){
    var library = json[index];
    var formatted_info = "<p>"+library.name+"</p><p>"+library.address+"</p><p>"+library.city+", "+library.zipcode+"</p>";
    $('#specific').html(formatted_info);
  }

// event listeners for page nav use the id of the first library to move to the next 8 libraries
  $('#next').on('click',function(event){
    event.preventDefault();
    var next = parseInt($('#links').children()[0].id)+9;
    displayLinks(next);
  })

  $('#previous').on('click',function(event){
    event.preventDefault();
    var prev = parseInt($('#links').children()[0].id)-7;
    displayLinks(prev);
  })

// writes names on the DOM, and adds listeners to them
  function displayLinks(start){
    $('#links').html("");
    for(var i = 0; i < 8; i++){
      var library = json[i+start-1];
      $('#links').append("<div id='"+(library.id-1)+"' class='library'>"+library.name+"</div>");
    }

    $('.library').on("click",function(){
      var index = $(this).attr('id');
      displayInfo(index);
    })
  }

  initialize();

})

</script>

