<script>

$(document).ready(function(){

  var map;
  var json = <%= Library.jsonify.html_safe %>

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(38.4987789,-98.3200779),
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(mapCanvas, mapOptions);


    json.forEach(function(library){
      var myLatlng = new google.maps.LatLng(library.lat,library.long);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: library.name,
        id: library.id
      });

      google.maps.event.addListener(marker, 'click', function() { 
        $('#'+marker.id).click();
      }); 

    });
  }

  function addMarker(){

  }

  $('.library').on("click",function(){
    // debugger;
    var index = $(this).attr('id');
    var library = json[index];

    formatted_info = "<p>"+library.name+"</p><p>"+library.address+"</p><p>"+library.city+", "+library.zipcode+"</p>";
    $('#specific').html(formatted_info);
  })

  initialize();

})

</script>

