// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 40vh;
  width: 100%;
}

.library {
  padding: 10px;
}

#nav{
  padding: 20px;
}

#specific {
  padding: 10px;
}